<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo center">
			<i class="material-icons left">airplanemode_active</i>
			<span>Flight Booker</span>
			<i class="material-icons right">airplanemode_active</i>
		</a>
	</div>
</nav>